<footer class="footer" role="contentinfo">

  <div class="sponsor">

    <a id="sponsor-link" target="_blank" href="http://store.bastard.it/en/nostalgia?utm_source=freezermag&utm_medium=banner&utm_campaign=fucknostalgia">

      <span class="logo">
        {% include svg/use.html id="icn--bstrd-fucknostalgia" class="bstrd-fucknostalgia" %}
			</span>

			<span class="words">brother tip from your friends at bastard®</span>

		</a>
  </div>


  <div class="powered">

    <a id="producer-link" href="http://junglestar.org" target="_blank">

      <span class="words left">produced in the jungle</span>

			<span class="logo">

        {% include svg/use.html id="icn--junglestar" class="junglestar" %}

      </span>

      <span class="words right">under a special star</span>

    </a>

  </div>


  <div class="copyright">

    <span class="logo">
      {% include svg/use.html id="icn--cc" class="cc" %}

      {% include svg/use.html id="icn--by" class="by" %}
		</span>

    <span class="words">

      <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title"> Freezer Magazine </span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://rokma.com" property="cc:attributionName" rel="cc:attributionURL" target="_blank" id="author-link"> Rokma </a>  and other authors is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/" target="_blank" id="licence-link"> Creative Commons Attribution 4.0 International License</a>.
      Permissions beyond the scope of this license may be available at <a xmlns:cc="http://creativecommons.org/ns#" href="http://junglestar.org" rel="cc:morePermissions" target="_blank" id="permissions-link">junglestar.org</a>

    </span>

   </div>

 <div class="brick up">

  <div id="random-image-caption"></div>

  <a class="brick-front" href="#top" title="Return to page top">

    {% include svg/use.html id="icn--chevron-up" class="chevron-up" %}

  </a>

 </div>



</footer>
