<figure class="illu {{page.icon}}">

  {% if page.icon=="camera" %}
    {% include icons/freezer-camera.svg %}
  {% endif %}

  {% if page.icon=="classic" %}
    {% include icons/freezer-classic.svg %}
  {% endif %}

  {% if page.icon=="clip" %}
    {% include icons/freezer-clip.svg %}
  {% endif %}

  {% if page.icon=="exit" %}
    {% include icons/freezer-exit.svg %}
  {% endif %}

  {% if page.icon=="gasmask" %}
    {% include icons/freezer-gasmask.svg %}
  {% endif %}


  {% if page.icon=="qr" %}
    {% include icons/freezer-qr.svg %}
  {% endif %}


  {% if page.icon=="rider" %}
    {% include icons/freezer-rider.svg %}
  {% endif %}


  {% if page.icon=="she-down" %}
    {% include icons/freezer-she-down.svg %}
  {% endif %}

  {% if page.icon=="she-up" %}
    {% include icons/freezer-she-up.svg %}
  {% endif %}

  {% if page.icon=="sheep" %}
    {% include icons/freezer-sheep.svg %}
  {% endif %}

  {% if page.icon=="skate" %}
    {% include icons/freezer-skate.svg %}
  {% endif %}

  {% if page.icon=="skull" %}
    {% include icons/freezer-skull.svg %}
  {% endif %}

  {% if page.icon=="snow" %}
    {% include icons/freezer-snow.svg %}
  {% endif %}

  {% if page.icon=="surf" %}
    {% include icons/freezer-surf.svg %}
  {% endif %}

  {% if page.icon=="tucknee" %}
    {% include icons/freezer-tucknee.svg %}
  {% endif %}

  {% if page.icon=="tv" %}
    {% include icons/freezer-tv.svg %}
  {% endif %}

  {% if page.icon=="walkabout" %}
    {% include icons/freezer-walkabout.svg %}
  {% endif %}

</figure>
