<!-- {% if page.image %}

{{ page.image }}

<script>

  // RANDOM image for big screens only
  var num = (Math.floor(Math.random()*31));
  var array = ['01', '02', '03', '04','05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31'];
  var elem = document.getElementById('random-image');
  elem.classList.add(array[num]);
  var elem = document.getElementById('random-image-caption');
  elem.classList.add(array[num]);

</script>



{% else %} -->

<script>

  // RANDOM image for big screens only
  var num = (Math.floor(Math.random()*31));
  var array = ['01', '02', '03', '04','05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31'];
  var elem = document.getElementById('random-image');
  elem.classList.add(array[num]);
  var elem = document.getElementById('random-image-caption');
  elem.classList.add(array[num]);

</script>

<!-- {% endif %} -->
