---

---
<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/Article" prefix="og: http://ogp.me/ns#">

{% include head.html %}

  <body class="">

    {% include svg/defs.html %}

    <header class="home header cf" role="banner">

      {% include menu.html %}

      <a href="{{ site.baseurl }}/">
        <div class="cf">
          <figure class="illu classic">
            {% include svg/use.html id="icn--freezer-classic" class="freezer-classic" %}
          </figure>
        </div>
      </a>

    </header>

    <main class="main home" role="main">

      <div class="text">
        {{ content }}
      </div>

      {% include loop_posts.html %}

    </main>

    {% include footer.html %}


    {% include script_append_to_copy_action.html %}

    {% include script_ext_link.html %}

    {% include script_google_analytics.html %}

  </body>

</html>
